<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{author.first_name}}
    {{author.last_name}}
    {{author.notes}}
    
    <p>Books:</p>
    <ul>
        {% for book in author.books.all %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
    <form action="/send_it" method="POST">
        {% csrf_token %}
        <select name="book_id" id="book_id">
            {% for book in all_book %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select>
            
        <input type="submit" value="Submit">
        <input type="hidden" name="author_id" value="{{author.id}}">
        </form>
</body>
</html>