<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add an Author</h3>
    <form action="/process_two" method="POST">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">
    <input type="submit" value="Submit">
    </form>

    <table>
        <thead>
            <tr>ID</tr>
            <tr>Name</tr>
            <tr>Action</tr>
        </thead>
    <tbody>
        {% for author in all_author %}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.first_name}} {{author.last_name}}</td>
            <td><a href="/authors/{{author.id}}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>








 
</body>
</html>